* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  height: 100vh;
  /* background-color: red; */
  display: flex;
}

.container {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  height: 500px;
  width: 500px;
}

.square {
  width: calc(100% / 6);
  height: calc(100% / 6);
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: lightgreen;
}

.square:hover {
  cursor: pointer;
}
